<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b5924711-c777-436e-af79-97db5c0c6d0d/resourcegroups/backend-tareas20220312175827ResourceGroup/providers/Microsoft.Web/sites/BackEndService-TareasProyectoNET</ResourceId>
    <ResourceGroup>backend-tareas20220312175827ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://backendservice-tareasproyectonet.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>e73965f4-dd99-4116-8dee-1f7abd00bc51</ProjectGuid>
    <PublishUrl>https://backendservice-tareasproyectonet.scm.azurewebsites.net/</PublishUrl>
    <UserName>$BackEndService-TareasProyectoNET</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>